body {
  background-color: #232323;
  margin: 0;
}

/* Head style */
#game {
  display: flex;
  min-height: -webkit-fill-available;
  flex-direction: column;
  border: 2px solid white;
}

/* Menu style */
#menu {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid white;
}

#gameNew, input, .scoreDisplay, h1,{
  font-size: 2vw;
  color: white;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  width: 60%;
  background-color: #232323;
  color: white;
  text-align: center;
}

.menuOption{
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 10vw;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #232323;
  border-bottom: 5px solid white;
  font-family: 'Roboto Mono', monospace;
  border-bottom: none;
  border-left: 2px dotted white;
}

.menuOption:first-child {
  border-left: none;
}

/* Game style */
#container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

.squere, .squereRemove {
  width: 12vw;
  height: 12vw;
  font-size: 0px;
  margin: 1%;
}

.squere {
  background-image: url("imgs/back.jpg");
}

.squere img {
  display: none;
}



.selected img {
  display: block;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.actual {
  color: gold;
}

.winInfo {
  width: 50vw;
  height: 50vh;
  font-size: 4rem;
  display: flex;
  align-items: flex-end;
  color: floralwhite;
  flex: auto;
  justify-content: center;
}

.pictureSquere {
  max-width: 100%;
}


/* Primitive RWD */
@media (min-width: 1200px) {
  .squere, .squereRemove {
    width: 10vw;
    height: 10vw;
    font-size: 0px;
    margin: 1%;
  }
  #media {
    width: 12vw;
  }
  #gameNew, input, .scoreDisplay, h1{
    font-size: 2.5vw;
  }
}

@media (min-width: 1051px) and (max-width: 1199px) {
  .squere, .squereRemove {
    width: 13vw;
    height: 13vw;
    font-size: 0px;
    margin: 1%;
  }
  #media {
    width: 12vw;
  }
  #gameNew, input, .scoreDisplay, h1{
    font-size: 2.5vw;
  }
}

@media (min-width: 851px) and (max-width: 1050px) {
  .squere, .squereRemove {
    width: 15vw;
    height: 15vw;
    font-size: 0px;
    margin: 1%;
  }
  #media {
    width: 15vw;
  }
  #gameNew, input, .scoreDisplay, h1{
    font-size: 3vw;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .squere, .squereRemove {
    width: 17vw;
    height: 17vw;
    font-size: 0px;
    margin: 1%;
  }
  #media {
    width: 20vw;
  }
  #gameNew, input, .scoreDisplay, h1{
    font-size: 3.25vw;
  }
}

@media (max-width: 600px) {
  .squere, .squereRemove {
    width: 20vw;
    height: 20vw;
    font-size: 0px;
    margin: 1%;
  }
  #gameNew, input, .scoreDisplay, h1{
    font-size: 3.5vw;
  }
  .winInfo {
    flex: none;
    font-size: 10vw;;
  }
}
