<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Memory Game</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="game">
      <!-- menu section -->
      <div id="menu">
        <!-- Title section -->
        <h1 class="menuOption">Memory game</h1>
        <!-- control section -->
        <button id="gameNew" class="menuOption">New game</button>
        <div id="point" class="menuOption">
          <h1>To: </h1>
          <input type="number" value="12">
        </div>
        <!-- Score -->
        <div class="scoreDisplay menuOption">Player one: <span class="player">0</span></div>
        <div class="scoreDisplay menuOption">Player two: <span class="player">0</span></div>
      </div>
      <!-- Game section -->
      <div id="container">
      </div>
    </div>
    <script src="assets/js/logic.js" charset="utf-8"></script>
  </body>
</html>
